{{#each footbol}}
  <li class="item">
    <img src="{{image}}" alt="{{name}}" class="image">
    <h2 class="title">{{name}}</h2>
    <h3 class="subtitle">{{team}}</h3>
    <p class="text">{{position}}</p>
    <p class="number">{{rating}}</p>
   </li>
  {{/each}}